.blue {
	color: blue;
}

.bigger {
	font-size: 2em;
}
.wrap {
	border: 2px solid green;
}

.rounded {
	border: 2px solid green;
	border-radius: 20px;
}

.bold {
	font-weight: 900;
}

.style {
	font-weight: 900;
	font-style: italic;
}

#bold {
	font-weight: 800;
}

#italic {
	font-style: italic;
	font-weight: 800;
}

button {
	display: block;
	margin: 15px;
}